.header-container {
  height: 80vh;
  //   background-color: lightblue;
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    .menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .header-content {
      display: flex;
      flex: 1;
      flex-direction: row;
      padding-top: 1rem;
      .hero-text {
        flex: 0.5;
        padding: 7rem 2rem 0;
        .hero-text-title {
          width: 90%;
          color: black;
          text-transform: capitalize;
          padding-bottom: 1.5rem;
          Typography {
            font-weight: 700;
            color: rgba(72, 183, 116, 0.883);
          }
        }
        .hero-text-subheading {
          width: 90%;
          font-size: 1.2rem;
          padding-bottom: 3rem;
        }
        .hero-button {
          Button {
            padding: 15px 30px;
            border-radius: 30px;
            background-color: #4caf50;
          }
        }
      }
      .hero-image {
        flex: 0.5;
        // background-color: yellow;
      }
    }
  }
}
